$veryLightGrayishBlue: hsl(240, 78%, 98%)
$lightGrayishBlue: hsl(234, 14%, 74%)
$grayishBlue: hsl(233, 13%, 49%)
$darkGrayishBlue: hsl(232, 13%, 33%)
  
body
  background: $veryLightGrayishBlue
  font-family: 'Montserrat'
  font-size: 15px

*
  position: relative
  outline: none
  box-sizing: border-box
  z-index: 2

h1, h2, h3, h4, h5, h6
  margin: 0

.checkboxWrapper
  .checkboxSlider
    position: relative
    width: 50px
    height: 30px
    border-radius: 100px
    background: hsl(236, 72%, 79%)
    background: linear-gradient(90deg, hsl(236, 72%, 79%) 0%, hsl(237, 63%, 64%) 100%)
    transition: all .1s ease-in-out
    cursor: pointer

    &:hover
      filter: brightness(1.2)

    &::before
      content: ''
      position: absolute
      top: 4px
      left: 4px
      width: 22px
      height: 22px
      background: #ffffff
      border-radius: 50%
      transition: all .1s ease-in-out

  .checkboxInput
    display: none

    &:checked ~ .checkboxSlider::before
      left: 24px

.wrapper
  position: relative
  width: 100%
  min-height: 100vh
  padding: 30px
  z-index: 1

  &::before, &::after
    content: ''
    position: absolute
    width: 100%

  &::before
    background: url('./images/bg-bottom.svg') left no-repeat
    background-size: contain
    bottom: 0
    left: 0
    height: 30%

  &::after
    background: url('./images/bg-top.svg') right no-repeat
    background-size: contain
    top: 0
    right: 0
    height: 60%

  .wrapper-title
    color: $grayishBlue
    text-align: center

.payment-switcher
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  margin: 30px

  .payment-title
    color: $lightGrayishBlue
    margin: 0 30px